@import "tailwindcss";

html,body{
  background-color: black;
  color: white;
  width:100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
}